@tailwind base;
@tailwind components;
@tailwind utilities;

/* FORCE text color to be white globally */
body {
  background-color: #0f172a; /* Dark Blue */
  color: #ffffff;            /* Pure White */
  font-family: sans-serif;
}

/* Force inputs to have dark text so they are readable */
input, select, textarea {
  color: #000000;
}